body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 3vh;
}
nav {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
nav strong {
  float: right;
  margin-right: 2vw;
  margin-top: 0.5vh;
}
.gameName {
  margin-left: 2vw;
  height: 100%;
  color: black;
  margin-top: 1.25vh;
  float: left;
  width: 15vw;
}
.gameConsole {
  margin-left: 15vw;
  height: 100%;
  color: black;
  margin-top: 1.25vh;
  float: left;
  width: 15vw;
  text-align: center;
}
.gameRating {
  margin-left: 15vw;
  height: 100%;
  color: black;
  margin-top: 1.25vh;
  float: left;
  width: 15vw;
  text-align: center;
}
.gameRow,.editRow {
  width:90vw;
  margin-left: 5vw;
  height: 4.5vh;
  border-radius: 5px;
  margin-top: 2.5vh;
  min-height: 30px;
  clear: both;
}
.titleRow {
  width:90vw;
  margin-left: 5vw;
  height: 4.5vh;
  border-radius: 5px;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  min-height: 30px;
}
.gameRow button,.editRow button {
  height: 100%;
  width:10vw;
  background-color: #4285f4;
  color:white;
  border-color:	#4285f4;
  float: right;
}
.delete {
  height: 100%;
  width:10vw;
  background-color: #4285f4;
  color:white;
  border-color:	#4285f4;
  float: right;
}
.gameRow input, .gameRow input {
  margin-right: 2vw;
  margin-left: 0.5vw;
  margin-top: 1vh;
}
.platformLabel,.ratingLabel {
  margin-left: 5vw;
}
form.gameRow,form.editRow {
  width:92.5vw;
  margin-left: 2.5vw;
  height: 4.5vh;
  border-radius: 5px;
  margin-top: 2.5vh;
  min-height: 30px;
  margin-bottom: 2.5vh;
}
.home {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
.linebreak { width: 95vw; }
.MsgBox {
  width: 90vw;
  margin-left: 5vw;
  height: 80vh;
  border: 1px solid black;
}
.Msgs {
  width: 99%;
  height: 90%;
  margin-left:1%;
  overflow-y: scroll;
}
.MsgBox input {
  margin-left: 1%;
  width: 85%;
}
.MsgText {
  background-color: #4285f4;
  padding: 0.5vh;
  border-radius: 0.5vh;
  width: max-content;
  display: inline;
  color: white;
}
.sendBtn {
  height: 100%;
  width:10vw;
  background-color: #4285f4;
  color:white;
  border-color:	#4285f4;
  float: right;
  margin-right: 1%;
}
.Msgform { margin-top: 1.5%; }
.MsgContainer {
  margin-top: 1.5%;
  max-width: 90%;
  float: left;
  clear: both;
}
.UserContainer {
  margin-top: 1%;
  float: right;
  clear: both;
  margin-right: 1%;
}
.Userform {
  width: 40vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
  border: 1px solid black;
  padding: 1vh;
}
.Userform input {
  width: 50%;
  margin-left: 1%;
}
.active { color: blue; }
hr.border { margin-top: 0; }
#unameLabel,#pwordLabel {
  display: block;
  margin: 1vh;
  margin-top: 2vh;
}
.userLogin {
  border: 1px solid black;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 5vh;
}
#loginBtn,#signBtn {
  margin-bottom: 1vh;
  margin-left: 1vh;
  background-color: #4285f4;
  color: white;
  padding: 0.5vw;
  border-color: #4285f4;
}
.editRow {
  float: left;
  clear: both;
  display: none;
  border: 1px solid black;
}
.editRow input {
  margin-left: 20vw;
  text-align: center;
  margin-top: 1vh;
}
.editRow input:nth-child(2) {
  margin-left: 25vw;
}
.editRow input:first-child {
  margin-left: 0vw;
}

